<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/themes/base/css", "~/Content/css")
    @Styles.Render("~/Content/kendo/base/css")
    @Styles.Render("~/Content/kendo/metro/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")
    @RenderSection("scripts", required: false)
</head>
<body>
    <header class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">
                    <img src="~/Images/ssig_logo.png" />SQL Server Innovators Guild</a>
            </p>
        </div>
        <nav class="float-right">
            <ul id="menu">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Meetings", "Index", "Meeting")</li>
                <li>@Html.ActionLink("Admin", "Index", "Administration")</li>
            </ul>
        </nav>
    </header>
    @RenderBody()
</body>
</html>
